html {
  font-family: 'Roboto', sans-serif;
}

#search-box {
  background-color: red
}

.logo {
  max-height: -webkit-fill-available;
}

#category {
  display: inherit;
}

#description {
  margin-top: 20px;
  border-bottom: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
}

.new-post-submit {
  margin-top: 10px;

}

.card {
  width: 25vw;
  height:auto
}

.listing-container {
  margin-top: 2em;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  margin-left:10%;
  margin-right: 10%;
  display: grid;
  grid-gap: 1rem;
}

#navbar {
  background-color: rgb(223, 158, 39);
  background-image: url('https://www.pngarts.com/files/1/Zebra-Print-PNG-Photo.png');
}

a.btn {
  background-color: #ffab12;
  border-radius: 1em;
  color: black;
  border: black solid 2px;
  font-weight: 700;
}
@media (min-width: 600px) {
  .listing-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .listing-container { grid-template-columns: repeat(3, 1fr); }
}
